<section class="slider__container" fxLayout="row" fxLayoutGap="20px">
    <div *ngFor="let movie of movies" class="slider__card">
        <img class="slider__card--img" src="https://image.tmdb.org/t/p/w300/{{movie.poster_path}}" alt="Affiche">
        <div class="slider__card--title" fxLayout="row" fxLayoutAlign="center center" align="center">{{ movie.title}}
        </div>
        <div class="slider__card--badge__container" fxLayout="row wrap" fxLayoutGap="10px">
            <div *ngFor="let genreId of movie.genre_ids" class="slider__card--badge"> {{getGenre(genreId)}}
            </div>
        </div>
    </div>
</section>