.slider__container {
    overflow: auto;
    scroll-snap-type: x mandatory;
    margin-bottom: 10px;

    .slider__card {
        scroll-snap-align: start;
        width: 240px;
        position: relative;
    }

    .slider__card--img {
        border-radius: 10px;
        width: 240px;
    }

    .slider__card--title {
        position: absolute;
        left: 0;
        bottom: 0;
        font-size: 24px;
        line-height: 24px;
        padding: 10px;
        box-sizing: border-box;
        width: 100%;
        background: rgba(0, 0, 0, .7);
        border-radius: 10px;
    }

    .slider__card--badge__container {
        font-size: 10px;
        position: absolute;
        top: 0px;
        padding: 10px;
        box-sizing: border-box;
        width: 100%;
    }

    .slider__card--badge {
        padding: 5px 10px;
        border-radius: 15px;
        font-size: 14px;
        background-color: #c2185b;
        color: #fff;
        margin-bottom: 10px;
    }
}