<div class="container">
    <h2>Popular</h2>
    <app-slider [movies]="movies" [genres]="genres"></app-slider>
    <h2>Top 10 popular movies</h2>
    <app-movie-card [movies]="topTen" [genres]="genres"></app-movie-card>
</div>