.movie__card--container {
    .movie__card {
        background: #424242;
        border-radius: 10px;
        margin-bottom: 10px;
    }

    .movie__card--img {
        border-radius: 10px;
        width: 150px;
    }

    .movie__card--description__container {
        padding: 10px;
    }

    .movie__card--badge {
        padding: 5px 10px;
        border-radius: 15px;
        font-size: 14px;
        background-color: #c2185b;
        color: #fff;
        margin-bottom: 10px;
    }
}