<section class="movie__card--container" fxLayout.xs="column" fxLayout.gt-xs="row wrap" fxLayoutAlign="space-around unset" fxLayoutGap="10px">
    <div *ngFor="let movie of movies" class="movie__card" fxFlex.xs="100" fxFlex.gt-xs="48" fxLayout="row" fxLayoutGap="5px">
        <img class="movie__card--img" src="https://image.tmdb.org/t/p/w200/{{movie.poster_path}}" alt="Affiche">
        <div class="movie__card--description__container">
            <h2>{{movie.title}}</h2>
            <p>{{movie.overview | slice :0:120}} {{movie.overview.length > 120 ? '...' : ''}}</p>
            <div fxLayout="row wrap" fxLayoutGap="10px">
                <div *ngFor="let genreId of movie.genre_ids" class="movie__card--badge">{{ getGenre(genreId)}}
                </div>
            </div>
        </div>
    </div>
</section>
