/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}

::-webkit-scrollbar-thumb {
    background: #42424250;
    border-radius: 13px;
    transition: 1s;
}

::-webkit-scrollbar-thumb:hover {
    background: #84848450;
}

::-webkit-scrollbar-track {
    background: #303030;
    border-radius: 13px;
}
